<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="https://sandbox.payhere.lk/pay/checkout" method="POST">
        <input type="hidden" name="merchant_id" value="1217175">    <!-- Replace your Merchant ID -->
    <input type="hidden" name="return_url" value="https://paynowd.herokuapp.com/return">
    <input type="hidden" name="cancel_url" value="https://paynowd.herokuapp.com/cancel">
    <input type="hidden" name="notify_url" value="https://paynowd.herokuapp.com/notify">  
    <input type="text" name="order_id" value="ItemNo12345">
    <input type="text" name="items" value="Door bell wireless"><br>
    <input type="text" name="currency" value="LKR">
    <input type="text" name="amount" value="1000">  
   
    <input type="text" name="first_name" value="Saman">
    <input type="text" name="last_name" value="Perera"><br>
    <input type="text" name="email" value="samanp@gmail.com">
    <input type="text" name="phone" value="0771234567"><br>
    <input type="text" name="address" value="No.1, Galle Road">
    <input type="text" name="city" value="Colombo">
    <input type="hidden" name="country" value="Sri Lanka"><br><br> 
    <input type="submit" name="" id="" value="Pay">
    </form>
</body>
</html>